* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#edit-product-category-wrapper input[type="radio"]:checked + label,
#product-category-wrapper input[type="radio"]:checked + label {
  background-color: #2c2d2b;
  color: #eef0eb;
}
#edit-product-diet-wrapper input[type="radio"]:checked + label,
#product-diet-wrapper input[type="radio"]:checked + label {
  background-color: #2c2d2b;
  color: #eef0eb;
}
#edit-product-time-slots-wrapper input[type="checkbox"]:checked + label,
#product-time-slots-wrapper input[type="checkbox"]:checked + label {
  background-color: #2c2d2b;
  color: #eef0eb;
}
#filter-category input[type="checkbox"]:checked + label {
  background-color: #2c2d2b;
  color: #eef0eb;
}
#filter-diet input[type="checkbox"]:checked + label {
  background-color: #2c2d2b;
  color: #eef0eb;
}
#selected-filters-wrapper input[type="checkbox"]:checked + label {
  background-color: #2c2d2b;
  color: #eef0eb;
}
.impact-box {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.impact-box img {
  height: 50px;
  margin-bottom: 8px;
}
.active-profile-tab span {
  opacity: 1;
}
.active-profile-tab button {
  opacity: 1;
}
.nav-link.active {
  opacity: 1;
}
.nav-link {
  opacity: 0.45;
}
.seller-img {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  margin-right: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}
