* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.tabbar {
  // background-color: var(--green);
	// color: var(--text-color-light);
	// padding: 13.5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
